<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\inetpub\wwwroot\w9\scripts\python.exe|C:\inetpub\wwwroot\w9\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <defaultDocument>
      <files>
        <add value="app.py" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <!-- Handle static CSS files -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^(static/.*)$" />
          <action type="None" />
        </rule>
        
        <rule name="FlaskApp" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="app.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\w9" />
  </appSettings>
</configuration>